h1 D3 in the Age of Angular

chart-donut(dataset="people")
chart-donut(dataset="netrunners")

input(ng-model = "newPerson.name")
select(ng-model = "newPerson.gender")
  option(value="male") male
  option(value="female") female

button(ng-click='add(newPerson)') add

ul
  li(ng-repeat="person in people")
    h4 {{person.name}} {{person.gender}}
